{% extends 'base.html.twig' %}

{% block title %}Intervention{% endblock %}

{% block body %}
    <h1>Intervention</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ intervention.id }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ intervention.date ? intervention.date|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Label</th>
                <td>{{ intervention.label }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ intervention.description }}</td>
            </tr>
            <tr>
                <th>Done</th>
                <td>{{ intervention.done ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>EstimatedTime</th>
                <td>{{ intervention.estimatedTime }}</td>
            </tr>
            <tr>
                <th>RealTime</th>
                <td>{{ intervention.realTime }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('intervention_index') }}">back to list</a>

    <a href="{{ path('intervention_edit', {'id': intervention.id}) }}">edit</a>

    {{ include('intervention/_delete_form.html.twig') }}
{% endblock %}
